/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/* Base structure */ 

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  width: 100vw;
  height : 100vh;
}

.cover-container {
  max-width: 80em;
  text-align: center;
  justify-content: center;
}





/* meeting_start 속성 */
.my-cam {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.my-cam > video {
  top:0;
  left:0;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  
}
.opponent-cam {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.opponent-cam > video {
  /* border-radius: 7px; */
  top:0;
  left:0;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  
  /* width: 100%; */
  
  
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  object-fit: cover;
  /* position: absolute; */
}

#emotion{
  top : 5px;
  left: 5px;
  width : 8rem;
  height: 3rem;
  border-radius: 5px;
  background-color: #B4D8E7; 
  opacity : 0.7;
  text-align :center;
  justify-content: center;
  
}

video{
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  
  object-fit: cover;
}

#buttons{
  margin: 1rem;
  text-align: center;
  justify-content: center;
  height : 10wh;
}

#createBtn, #joinBtn , #hangupBtn, 
#confirmJoinBtn , #cancelBtn, #roomnumBtn{
  width: 10rem;
  height: 3rem;
  background-color: #313131;
  border-radius: 4px;
  margin : 0.5rem;
  text-align: center;
  color: white;
  cursor: pointer;
}

#setting > .col {
  margin: .8rem;
  text-align: center;
}
#cameraBtn, #muteBtn {
  background: transparent;
  width :1.5rem;
  height: 1.5rem;
}

#rq , #ep , #min{

  font-family: 'Jua', sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
  margin-top :.5rem;
    
}
.opponent-cam{
  border:3px solid rgb(216, 216, 216);
  border-collapse:separate;
  position: relative;
  /* height:40rem; */
  font-family: 'Jua', sans-serif;
  /* margin:5px; */
}

.my-cam{
  border: transparent;
  border-collapse:separate;
  font-family: 'Jua', sans-serif;
}


.box_part{
  border: 1px solid rgb(216, 216, 216);
 
}
#title{
  border-bottom: 1px solid rgb(216, 216, 216);
  margin: 1px 0 2px 0 px;
  width:100%;
  height: 2.5rem;
  padding: .3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position:relative;
  font-size:1.2rem;
}

.min-content{
    position:relative;
    overflow-y :scroll;
    padding :.3rem;
    height : 16.5rem;
}
.chatLog > .myBox , 
.chatLog > .oppBox {
  margin : 4px;
  
}

.myBox{
  text-align: right;
  padding-left: 20%;
  position: relative;
}

.oppBox{
  text-align: left;
  padding-right: 20%;
  position: relative;
}


.myBox > #myText ,
.oppBox > #oppText {

  padding : 5px;
  display: inline-block; 
  border-radius: 10px;
}

#myText{
  background-color: rgb(104, 162, 236);
  color: white;
  border : 2px solid rgb(104, 162, 236);
}

#oppText{
  background-color: #D3D3D3;
  border : 2px solid #D3D3D3;
}

.recommended-question{
  border-collapse:separate;
  /* height:90vh; */
  font-family: 'Jua', sans-serif;
  border-radius: 20px 20px 40px 40px;
  
  /* margin:5px; */
  
}



.rq-content{
  position:relative;
  height:24%;
  padding : 1rem;
}

#key_switch, #random_switch{
  background: transparent;
  border:0;
  outline: 0;
  float: right;
}

