/* body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

@media (max-width: 600px) {
  body,
  #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }

  body {
    border-top: 16px solid #ffa100;
  }
}

body {
  margin: 1em;
}

button {
  margin: 0.2em 0.1em;
}

div#videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div#videos > video {
  background: black;
  width: 640px;
  height: 100%;
  display: block;
  margin: 1em;
} */

/*
 * Globals
 */


/* Custom default button */
/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  width: 100vw;
  height : 100vh;
}

.cover-container {
  max-width: 80em;
  text-align: center;
  justify-content: center;
}
/* .card{
  max-width: 15em;
} */





/* meeting_start 속성 */
canvas {
  
  top:0;
  left:0;
  padding:1.5rem;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  object-fit: cover;
  position: absolute;
}
.opponent-cam > video {

  /* border-radius: 7px; */
  top:0;
  left:0;
  
  width: 100%;
  
  /* height: 45vh; */
  /* padding:1.5rem; */
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  object-fit: cover;
  /* position: absolute; */
}
#emotion{
  top : 0;
  left: 0;
  width : 8rem;
  height: 2rem;
  background-color: blue; 
  text-align :center;
  justify-content: center;
}

video{
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  
  /* width: 100vw;
  height: 56.25vw;
  max-height: 100wh;
  max-width: 177.78vh; */
  
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  
  object-fit: cover;
}

#buttons{
  margin: 1rem;
  text-align: center;
  justify-content: center;
  height : 10wh;
}

/* .container{
  height: 100vh;
} */

#createBtn, #joinBtn , #hangupBtn, 
#confirmJoinBtn , #cancelBtn, #roomnumBtn{
  width: 10rem;
  height: 3rem;
  background-color: #313131;
  border-radius: 4px;
  margin : 0.5rem;
  text-align: center;
  color: white;
  cursor: pointer;
}

#setting > .col {
  margin: .8rem;
  text-align: center;
}
#cameraBtn, #muteBtn {
  background: transparent;
  width :1.5rem;
  height: 1.5rem;
}

#rq , #ep , #min{

  font-family: 'Jua', sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
  margin-top :.5rem;
  padding: 0 .5rem .5rem .5rem .5rem;
}
#title{
  border-bottom: 1px solid rgb(216, 216, 216);
  margin: 1px 0 2px 0 px;
  width:100%;
  height: 2.5rem;
  padding: .3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position:relative;
  font-size:1.2rem;

}
.opponent-cam{
  border:3px solid rgb(216, 216, 216);
  border-collapse:separate;
  position: relative;
  /* height:40rem; */
  font-family: 'Jua', sans-serif;
  /* margin:5px; */
}

.my-cam{
  border: transparent;
  border-collapse:separate;
  font-family: 'Jua', sans-serif;
}


.box_part{
  border: 1px solid rgb(216, 216, 216);
 
}




.min-content{
    position:relative;
    padding: .3rem;
    overflow-y: auto;
    height: 15.5rem;
    
    
}
.chatLog > .callerBox , 
.chatLog > .calleeBox {
  margin : 4px;
  
}

.callerBox{
  text-align: right;
  padding-left: 20%;
  position: relative;
}

.calleeBox{
  text-align: left;
  padding-right: 20%;
  position: relative;
}


.callerBox > #callerText ,
.calleeBox > #calleeText {

  padding : 5px;
  display: inline-block; 
  border-radius: 10px;
}

#callerText{
  background-color: rgb(104, 162, 236);
  color: white;
  border : 2px solid rgb(104, 162, 236);
}

#calleeText{
  background-color: #D3D3D3;
  border : 2px solid #D3D3D3;
}
/* .chatLog > #calleeText{
  
  text-align: left;
  position: relative;

  border-radius: .75rem;
  border:2px solid #d8d5ec;
  
} */
/* .min-content>p{
    position:absolute;
    width: 100%;
    height: 100%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size:small;
} */

.recommended-question{
  border-collapse:separate;
  /* height:90vh; */
  font-family: 'Jua', sans-serif;
  border-radius: 20px 20px 40px 40px;
  
  /* margin:5px; */
  
}

/* .keyword-question-title{
  height:6%;
  width:100%;
  position:relative;
  margin: 1rem 0 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position:relative;
  font-size:1.5rem;
  
 } */
 

.rq-content{
  position:relative;
  height:24%;
}
.rq-content>p{
  /* position:absolute; */
  width: 100%;
  height: 100%;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  font-size:small;
  
}

.random-question-title{
  height:6%;
  width:100%;
  position:relative;
  margin: 1rem 0 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position:relative;
  font-size:1.5rem;
}

/* .random-question-title>p{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  font-size:large;
  color: aliceblue;
} */
/* .conversation-atmosphere{
  height:9%;
  width:100%;
  position:relative;
  margin: 1rem 0 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position:relative;
  font-size:1.5rem;
} */
.conversation-atmosphere-title{
  height:6%;
  width:100%;
  position:relative;
  margin: 1rem 0 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position:relative;
  font-size:1.5rem;
}
.cv-content{
  position:relative;
  height:9%;
}
.cv-content>p{
 
  position:absolute;
  width: 100%;
  height: 100%;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  font-size:small;

  
  
}

