

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

.cover-container {
  max-width: 80em;
  text-align: center;
  justify-content: center;
}
/* .card{
  max-width: 15em;
} */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1rem; */
  background-color: white;
  padding-bottom:1rem;
  border-bottom: 0.001px solid rgb(216, 216, 216);
}


.nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.034);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgb(104, 162, 236);
  
}

.nav-link + .nav-link {
  margin-left: 1rem;
}
.active {
  color: rgb(104, 162, 236);
  border-bottom-color: rgb(104, 162, 236);
}
.navbar_menu {
  display: flex;
  font-size: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-left: min(50%, 800px);
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.navbar_menu li {
  font-size: 19px;
  padding: 8px 16px;
  cursor: pointer;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.feature{
  cursor:pointer
}


/* body */
.gray-sector{
  background-color: rgb(248,249,250);
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}


.container{
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  justify-content: center;
}

.big_title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.small_title{
  margin-top: 0.5rem;
  font-size: 1rem;
  color: rgb(199, 199, 199);
  text-align: center;
}


.my_box_wrap{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* margin-top: 1.5rem; */
    padding-left: 12rem;
    padding-right: 12rem;
}
.my_box {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 33rem;
  padding: 2.5rem;
  margin: 1rem 1rem 1rem;
  border: 1px solid rgb(216, 216, 216);
  background-color: white;
  font-size: 1rem;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1),0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
}


.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81/var(--tw-text-opacity));
}
.leading-5 {
  line-height: 1.25rem;
}
.font-medium {
  font-weight: 500;
}
.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}
.block {
  display: block;
}

.pic{
  
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative; 
}
.btnUser{
  display: block;
  border: 0;
  padding: 0;
  position: relative;
  background: none;
  justify-content: center;
  
}
.user_png{
  width: 100px;
  height: 100px;
}
.changePic{  
  padding:5px;
  color: #313131;
  float:right;
  font-weight: bold;
  font-size: rem;
  border: none;
  background:none;
  margin-bottom: 2rem;
}


.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;;
  margin: .5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.column{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.large-3{
  flex-basis: 25%;
  max-width: 25%;
  
}
.large-7{
  flex-basis: 75%;
  max-width: 75%;
  
}
.span{
  text-align: center;
  justify-content: center;
}
.twoBtn{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn_box{
  text-align: center;
  width: 200px;
}
.logout_btn .edit_btn{
 text-transform: none;
 box-sizing: border-box;
 
}
button {
  background-color: rgb(104, 162, 236);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.close{
  color: #aaa;
  float:right;
  
  font-size: 1rem;
}
.modal {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 40rem;
  height: 30rem;
  padding:5%;
  
  
}
.modal_content{
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.modal_content .modal_title{
  margin-top:2rem;
  margin-bottom:2rem;
  
}
.modal_title{
  font-size: 1.4rem;
  font-weight: 500;
}

.hidden {
  display: none;
}

/* .confirmBtn{
  margin-top:2rem;
} */
.form-floating{
  margin-bottom: 1rem;
}
.form-register {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-register .checkbox {
  font-weight: 30;
}

.form-register .form-floating:focus-within {
  z-index: 2;
}

.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
